[submodule "howl-vt"]
	path = howl-vt
	url = git@github.com:LaurenceGuws/howl-vt.git
[submodule "howl-headless"]
	path = howl-headless
	url = git@github.com:LaurenceGuws/howl-headless.git
[submodule "howl-text"]
	path = howl-text
	url = git@github.com:LaurenceGuws/howl-text.git
